body {
  background-color: #B9B7BD;
}
.question {
  text-align: center;
}

#input {
  width: 375px;
  height: 25px;
}

.button {
  background-color: white;
  color: black;
}
h1 {
  text-align: center;
  font-family: monospace;
}
#error {
  display: none;
  text-align: center;
}
#selector { 
  width: 375px;
  height: 25px;
}
form {
  background-color: #E7D2CC
}
#spain {
  text-align: center;
}
#australia {
  text-align: center;
}
#china {
  text-align: center;
}
#uk {
  text-align: center;
}
#nz {
  text-align: center;
}
#mexico {
  text-align: center;
}