body {
  background-color: #B9B7BD;
}
#input {
  width: 375px;
  height: 25px;
}
#submit {
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 50px;
}
h1 {
  text-align: center;
  font-family: monospace;
}
#error {
  display: none;
  text-align: center;
}
#selector { 
  width: 375px;
  height: 25px;
}
form {
  background-color: #E7D2CC;
  font-family: monospace;
}
#spain {
  text-align: center;
  margin-bottom: 50px;
  font-size: 20px;
}
#australia {
  text-align: center;
  margin-bottom: 50px;
  font-size: 20px;
}
#china {
  text-align: center;
  margin-bottom: 50px;
  font-size: 20px;
}
#uk {
  text-align: center;
  margin-bottom: 50px;
  font-size: 20px;
}
#nz {
  text-align: center;
  margin-bottom: 50px;
  font-size: 20px;
}
#mexico {
  text-align: center;
  margin-bottom: 50px;
  font-size: 20px;
}
p {
  margin-top: 30px;
  margin-left: 40px;
}
#input { 
  margin-left:40px;
}
#currency {
  width: 375px;
  height: auto;
  margin-left: 40px;
}